<?xml version="1.0"?>
<config>
    <tabs>
        <biztech translate="label" module="notification">
            <label>Biztech Extensions</label>
            <sort_order>250</sort_order>
        </biztech>
    </tabs>
    <sections>
        <notification translate="label" module="notification">
            <label>Notification</label>
            <tab>biztech</tab>
            <frontend_type>text</frontend_type>
            <sort_order>1000</sort_order>
            <show_in_default>1</show_in_default>
            <show_in_website>1</show_in_website>
            <show_in_store>1</show_in_store>
            <groups>
                <notification_general translate="label">
                    <label>Notification</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>10</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                        <enabled translate="label">
                            <label>Enabled</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>10</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </enabled>
                        <default_style translate="label comment">
                            <label>Default Style</label>
                            <comment>Select No to set Notification Bar style more easily to match your theme.</comment>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>20</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </default_style>
                        <content translate="label comment">
                            <label>Notification Content</label>
                            <comment>HTML is allowed. If Left Blank it will not display Notification Bar.</comment>
                            <frontend_type>textarea</frontend_type>
                            <sort_order>30</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </content>
                        <close_notification translate="label comment">
                            <label>Close Notification?</label>
                            <comment>Select Yes to allow user to close Notification Bar.</comment>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>40</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </close_notification>
                     
                        <start_date translate="label comment">
                            <label>Start Date</label>
                            <comment>Choose date for Notification Bar to start displaying</comment>
                            <frontend_type>select</frontend_type>
                            <frontend_model>notification/adminhtml_config_form_field_notificationdate</frontend_model>
                            <sort_order>60</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </start_date>
                        <end_date translate="label comment">
                            <label>End Date</label>
                            <comment>Choose date for Notification Bar to stop displaying</comment>
                            <frontend_type>select</frontend_type>
                            <frontend_model>notification/adminhtml_config_form_field_notificationdate</frontend_model>
                            <sort_order>70</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </end_date>
                        <position translate="label comment">
                            <label>Notification Bar Position</label>
                            <comment>Select Notification Bar Positions as per your preferences.</comment>
                            <frontend_type>select</frontend_type>
                            <source_model>notification/system_notificationposition</source_model>
                            <sort_order>80</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </position>
                        <popup_title translate="label comment">
                            <label>Notification Bar Popup Title</label>
                            <comment>Set Title only when you have selected "Pop Up" for Notification Bar Position field.</comment>
                            <frontend_type>text</frontend_type>
                            <sort_order>90</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </popup_title>
                        <body_margin translate="label comment">
                            <label>Fixed Body Margin</label>
                            <comment>Used only when Notification Bar Position is at Top; this must be the height of the notification bar, in CSS units. Ex. 50px</comment>
                            <frontend_type>text</frontend_type>
                            <sort_order>100</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </body_margin>
                    </fields>
                </notification_general>
            </groups>
        </notification>
    </sections>
</config>